* {
  font-family: "Outfit";
}
a.change-address {
  color: #000;
}

a.change-address:hover {
  text-decoration: underline;
}
.card-cart {
  background: #ffffff;
  box-shadow: 11px 11px 15px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.cpn-btn {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #212363;
}
.finalcart-list .table-bordered > :not(caption) > *:last-child {
  border: 0px;
}

.finalcart-list .table-bordered > :not(caption) > * {
  border: 0px;
  border-bottom: 1px solid #d0d0d0;
  vertical-align: middle;
}

.finalcart-list .table-bordered > :not(caption) > * > * {
  border: 0px;
  border-bottom: 1px solid #d0d0d0;
}

.finalcart-list .table-bordered td {
  text-transform: none;
  padding: 20px 15px;
  line-height: 25px;
  color: #000000;
}

.finalcart-list .table-bordered th {
  line-height: 21px;
  color: #929292;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.finalcart-list .table-bordered td button {
  background: transparent;
  border: none;
  outline: none !important;
}

.finalcart-list .table-bordered td .trash-btn {
  color: var(--primary-color);
  /* background-color: #f1416c33;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px; */
}

.finalcart-list .table-bordered td a {
  color: #000;
}
.MuiButtonBase-root {
  text-transform: capitalize !important;
  font-family: "Outfit" !important;
}
.finalcart-list .table-bordered td input {
  height: 45px;
  background: #ebebeb;
  width: 310px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8d8d8d;
  padding: 0px 15px;
  margin: 0px 15px;
  border: 0px;
  border-radius: 4px;
}

.finalcart-list .table-bordered td:nth-child(1) {
  padding-right: 20px;
}

.finalcart-list .table-bordered td:nth-child(3) {
  font-size: 14px;
  line-height: 23px;
}

.finalcart-list .table-bordered td:nth-child(5) span {
  margin: 0px 5px;
}

.finalcart-list .table-bordered th:nth-child(4) {
  text-align: center;
}

.finalcart-list .table-bordered th:nth-child(5) {
  text-align: center;
}

.finalcart-list .table-bordered th:nth-child(6) {
  text-align: right;
}

.finalcart-list .table-bordered td:nth-child(4) {
  text-align: center;
}

.finalcart-list .table-bordered td:nth-child(5) {
  text-align: center;
}

.finalcart-list .table-bordered td:nth-child(6) {
  text-align: right;
}

button.refreshing {
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  color: #a5a5a5;
}

button.refreshing img {
  margin-right: 25px;
  margin-top: -2px;
}

.line-spacer {
  height: 1px !important;
  background-color: #d0d0d0 !important;
  margin-bottom: 25px !important;
}

.table.table-borderless.end-point {
  margin-top: -15px;
}

.table.table-borderless.end-point button {
  font-family: "Outfit";
  font-size: 16px;
  align-items: center;
  padding: 12px 15px;
  background: var(--primary-color);
  border: 2px solid #ffffff;
  border-radius: 4px;
  display: block;
  width: 100%;
  color: #fff;
  transition: all 0.5s ease;
}

/* .table.table-borderless.end-point button:hover {
  background-color: #141f80;
  transition: all 0.5s ease;
} */

.table.table-borderless.end-point td:first-child {
  font-size: 20px;
  color: #212363;
}

.table.table-borderless.end-point td:last-child {
  font-size: 20px;
  color: #000000;
}
.address-details {
  font-family: "Mulish";
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 990px) {
  .card-cart {
    margin-top: 2rem;
    margin-left: auto;
  }
  .card-cart div div {
    gap: 3rem;
  }
}
