.order-details {
  .table-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table {
    width: 70%;
    border: 1px solid transparent;
    margin-bottom: 0;
    th {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #929292;
    }
    td {
      padding-top: 0;
      padding-bottom: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }
  }
  h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
  }
  .view-invoice-btn {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #212363;
    padding: 8px;
  }

  .btn.btn-cancel {
    width: 167px;
    padding: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #f1000a;
  }
  .payment-canceled {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #ee5162;
  }
}
