.intel-core {
  background-color: #1e1d23;
}

.next-jump a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #f1000a;
  position: relative;
  top: 7px;
  padding-right: 22px;
  transition: all 0.3s ease;
}

.next-jump svg {
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  text-align: center;
  color: #f1000a;
  position: absolute;
  top: 1px;
  right: 0px;
  transition: all 0.3s ease;
}

.next-jump a:hover {
  color: var(--bs-body-color);
  transition: all 0.3s ease;
}

.next-jump a:hover svg {
  color: var(--bs-body-color);
  transition: all 0.3s ease;
  transform: rotate(360deg);
}

.arrival-slider .slick-slide > div {
  padding: 0px 10px;
}

.arrival-slider .slick-dots {
  bottom: -60px;
}
.arrival-slider .slick-dots li button {
  background-color: rgba(241, 0, 10, 0.6) !important;
}
.arrival-slider .slick-dots li.slick-active button {
  background-color: #dd1818 !important;
}

.intel-core {
  border-radius: 6px;
  overflow: hidden;
}
.intel-core h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 25px;
  color: #ffffff;
}

.intel-core a {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 18px;
  background: #36353d;
  line-height: 23px;
  padding: 20px 15px;
  text-align: center;
  border-radius: 6px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-self: stretch;
  @media (max-width:"700px") {
    margin-bottom: 5px;
  }
}

.intel-core a:hover {
  color: white;
  background-color: #dd1818;
}

.intel-core a span {
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  line-height: 20px;
  margin-top: 5px;
  text-align: center;
  color: #ffffff;
}

.lay-btns .row {
  padding: 0px 20px;
}
