.narroww-search {
  background-color: #f9f9f9;
  
}
.brands-list-slider .slick-dots {
  bottom: -60px;
}
.brands-list-slider .slick-dots li button {
  background-color: rgba(241, 0, 10, 0.6) !important;
}
.brands-list-slider .slick-dots li.slick-active button {
  background-color: #dd1818 !important;
}
