.new-address-modal {
  .modal-title {
    font-size: 28px;
    color: #212363;
  }
  form {
    h3 {
      font-size: 24px;
      line-height: 30px;
      color: #212363;
    }
    div {
      input {
        background: #ebebeb;
        border-radius: 4px;
      }
    }
  }
}
