.banner {
  color: #ffffff;
  background: #37363b;
}

.banner {
  div {
    h1 {
      font-weight: 600;
      font-size: 28px;
      color: #ffffff;
    }
    // div {
    //   select,
    //   input {
    //     padding: 12px 8px;
    //     margin: 10px;
    //     width: 330px;
    //     background: #ffffff;
    //     border-radius: 4px;
    //     font-weight: 400;
    //     font-size: 18px;
    //     color: #000000;
    //   }
    // }
  }
}
