.auth-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5921568627);
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    z-index: 1111;

    @media (min-width:992px) {
        z-index: 3333;
    }
}

.auth-modal {
    display: flex !important;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 !important;
    .modal-dialog {
        margin: 0 !important;
        height: 100%;
        .modal-content {
            border-radius: 0 !important;
            height: 100% !important;
        }
        .modal-header {
            padding: 0 !important;
            position: relative;
            width: 100%;
        }
        border-radius: 0 !important;
        border: none !important;
    }
}