.auth-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5921568627);
    top: 88px;
    right: 0;
    display: flex;
    justify-content: end;
    z-index: 1111;
    @media (min-width:992px) {
        z-index: 1;
    }
}

.auth-modal {
    position: fixed;
    top: 88px;
    right: 0;
    background: white;
    max-height: calc(100% - 88px);
    min-height: calc(100% - 88px);
    overflow-y: auto;
    z-index: 1111;
    @media (min-width:992px) {
        width: 534px;
        z-index: 2;
    }
}