
.bg-banner-liner {
    padding: 50px 0px;
    background-color: #292929;
  }

  .contact-us{background-color: #f9f9f9;}
  
  .banner-liners h1 {
    color: #fff;
    margin: 0px 0px -2px;
    font-weight: 600;
  }

.contact-us .home-products.testimonials {
	padding: 20px 20px 20px 100px;
	min-height: inherit;
	border-bottom: none;
	margin-top: 50px;
	margin-bottom: 20px;
}

.contact-us .home-products.testimonials h4 {
	font-size: 22px;
	margin-bottom:15px;
	margin-top: 0px;
	color: #F1000A;
}

.contact-us .home-products.testimonials h6 {
	padding-right: 0px;
}

.contact-us .home-products.testimonials h6:after {
	display: none;
}

.contact-us .home-products.testimonials h6 a {
	font-weight: 600;
	transition: all 0.6s ease;
	color: #00043A;
}

.contact-us .home-products.testimonials h6 a:hover {
	color: #000;
	transition: all 0.6s ease;
}

.contact-us .home-products.testimonials img {
	background: #00043A;
	padding: 5px;
	width: 65px;
	top: -20px;
	left: 20px;
}

.contact-us .home-products.testimonials li {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	margin-right: 10px;
	color: #FFF;
	transition: all .3s ease;
}

.contact-us .home-products.testimonials li a {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	height: 40px;
	width: 40px;
	font-size: 20px;
	color: #F1000A;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
}

.contact-us .home-products.testimonials li a:before {
	display: none;
}

.contact-us .home-products.testimonials li a:hover {
	color: #FFF;
}

.contact-us .home-products.testimonials li a.facebook:hover {
	background: #4267B2;
	transition: all .35s ease;
}

.contact-us .home-products.testimonials li a.twitter:hover {
	background: #00ACEE;
	transition: all .35s ease;
}

.contact-us .home-products.testimonials li a.youtube:hover {
	background: #FF0000;
	transition: all .35s ease;
}

.contact-us .home-products.testimonials li a.linkedin:hover {
	background: #0077b5;
	transition: all .35s ease;
}

.home-products.testimonials {
	padding: 70px 20px 20px 20px;
	position: relative;
	transition: all 0.6s ease;
	margin-top: 40px;
	margin-bottom: 70px;
	min-height: 280px;
	border-bottom: 5px solid #F1000A;
    box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.08);
}

.home-products.testimonials img {
	position: absolute;
	left: 30px;
	top: -50px;
	opacity: 1;
	border-radius: 50%;
	max-width: 100px;
	border: 5px solid #00043A;
}

.home-products.testimonials h4 {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 0px;
	margin-top: 20px;
	text-align: left;
	transition: all 0.6s ease;
}

.home-products.testimonials h6 {
	position: relative;
	line-height: 24px;
	color: #000;
	padding-right: 30px;
}

.home-products.testimonials h6:after {
	position: absolute;
	right: 0px;
	top: -10px;
	line-height: 30px;
	content: "\201D";
	color: rgba(0, 0, 0, 0.1);
	font-size: 100px;
}

.home-products.testimonials p {
	text-align: left;
	font-size: 13px;
	font-style: italic;
}

.home-products {
	padding: 20px;
	background: #FFF;
	transition: all 0.6s ease;
	margin-bottom: 30px;
	border-radius: 20px;
	position: relative;
}

.home-products:hover {
	box-shadow: 10px 10px 0px rgba(241, 0, 10, 0.2);
	transition: all 0.6s ease;
}


.home-products .home-products-image {
	overflow: hidden;
	text-align: center;
	border-radius: 20px;
	transition: all 0.6s ease;
}

.home-products .home-products-image img {
	display: inline-block;
	transform: scale(1);
	transition: all 0.6s ease;
}

.home-products:hover .home-products-image img {
	transform: scale(1.1);
	transition: all 0.6s ease;
}

.form-bg {
	background: linear-gradient(var(--primary-color), #bb1218) !important;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

input.form-control,
select.form-control {
	height: 50px;
	line-height: 50px;
	padding: 5px 10px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	outline: none !important;
	box-shadow: none !important;
	margin-bottom: 30px;
}

textarea.form-control {
	height: 100px;
	line-height: 24px;
	padding: 5px 10px;
	border-radius: 4px;
	resize: none;
	border: 1px solid rgba(0, 0, 0, 0.15);
	outline: none;
	box-shadow: none !important;
	margin-bottom: 30px;
}

#formRental input.form-control,
#formRental select.form-control {
	border: none !important;
}


label.error{
	color: #FFF;
	font-size: 13px;
	font-weight: 600;
	bottom: 0px;
	position: absolute;
}
#contactusform label.error, #enqjvalidate label.error, #productquote label.error{
	bottom: -30px;
}
#contactusform label.error{
    color: #ff8d00;
}

.submit-btn {
	background: #F1000A;
	color: #fff;
	letter-spacing: 0.1em; 
	padding: 10px 20px;
	font-weight: 600;
	border: none;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	transition: all 0.3s ease;
	border: 2px solid #fff;;
}

.submit-btn:hover,
.submit-btn:focus {
	background: #00043A;
	color: #fff;
	transition: all 0.3s ease;
}

.form-bg .submit-btn:hover,
.form-bg .submit-btn:focus {
	background: #00043A;
}

.maping{padding: 0px;}

.deals-imgs img {
	border-radius: 5px;
  }
  @media (max-width:992px) {
	.deals-imgs{
	  position: relative;
	  margin-bottom: 10px;
	  display: block;
	  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	}
  }
  .deals-imgs{
	position: relative;
   
  }
  .btm-liner {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 57.08%, rgba(0, 0, 0, 0.8) 85.21%);
	border-radius: 6px;
	position: absolute;
	height: 100%;
	width: 100%;
	content: "";
	bottom: 0;
	left: 0;
  }
  
  .btm-liner h4{position: absolute;bottom: 65px;font-weight: 600;
	font-size: 23px;
	line-height: 29px; left:20px;
	text-align: left;width: 100%; 
	color: #FFFFFF;}
	
	.btm-liner a{position: absolute;bottom:25px; 
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		padding: 5px 20px 7px;	
		text-align: center;
		display: inline-block;
		text-transform: capitalize;
		border-radius: 4px;
		color: #ffffff;
		left:20px;
		text-align: left;
		border: 1px solid #fff; }
		.btm-liner a:hover{
		
		background: #f1000a;}