* {
  font-family: "Outfit";
}
.card-cart {
  background: #ffffff;
  box-shadow: 11px 11px 15px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.cpn-btn {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #212363;
}
.finalcart-list .table-bordered > :not(caption) > *:last-child {
  border: 0px;
}

.finalcart-list .table-bordered > :not(caption) > * {
  border: 0px;
  border-bottom: 1px solid #d0d0d0;
  vertical-align: middle;
}

.finalcart-list .table-bordered > :not(caption) > * > * {
  border: 0px;
  border-bottom: 1px solid #d0d0d0;
}

.finalcart-list .table-bordered td {
  text-transform: none;
  padding: 20px 15px;
  line-height: 25px;
  color: #000000;
}

.finalcart-list .table-bordered th {
  line-height: 21px;
  color: #929292;
}

.finalcart-list .table-bordered td button {
  background: transparent;
  border: none;
  outline: none !important;
}

.finalcart-list .table-bordered td i {
  font-size: 16px;
  padding: 10px;
  background: #f1416c33;
  border-radius: 3px;
  color: red;
}

.finalcart-list .table-bordered td a {
  color: #000;
}

.finalcart-list .table-bordered td input {
  height: 45px;
  background: #ebebeb;
  width: 310px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8d8d8d;
  padding: 0px 15px;
  margin: 0px 15px;
  border: 0px;
  border-radius: 4px;
}

.finalcart-list .table-bordered td:nth-child(1) {
  padding-right: 20px;
}

.finalcart-list .table-bordered td:nth-child(3) {
  font-size: 14px;
  line-height: 23px;
}

.finalcart-list .table-bordered td:nth-child(5) span {
  margin: 0px 5px;
}

.finalcart-list .table-bordered th:nth-child(4) {
  text-align: center;
}

.finalcart-list .table-bordered th:nth-child(5) {
  text-align: center;
}

.finalcart-list .table-bordered th:nth-child(6) {
  text-align: right;
}

.finalcart-list .table-bordered td:nth-child(4) {
  text-align: center;
}

.finalcart-list .table-bordered td:nth-child(5) {
  text-align: center;
}

.finalcart-list .table-bordered td:nth-child(6) {
  text-align: right;
}