hr {
  margin-top: 0;
}
.location-content-div {
  background-color: #ffebeb8b;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  iframe {
    cursor: pointer;
  }
}
.find-us-on-map {
  p {
    margin-bottom: 5px !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
}

.btn-red-outline {
  border: 2px solid #f1000a;
  background-color: transparent;
  color: #f1000a;
  padding: 10px 30px;
  border-radius: 4px;
}
.btn-red-outline:hover {
  background-color: #f1000a !important;
  color: white !important;
}
.location-content {
  svg {
    min-width: 16.36px;
    min-height: 20px;
  }
  h3 {
    padding-bottom: 1rem;
    font-weight: 600;
    font-size: 28px;
    line-height: 25px;
    color: #000000;
  }
  div {
    padding-bottom: 1.3rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
}

@media (max-width: 992px) {
  .location-content-div {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
    padding: 10px;
    .find-us-on-map {
      gap: 1rem !important;
    }
  }
}
