.poster-content h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.poster-image {
  position: relative;
  height: 450px;
}

.banner-image {
  width: 100%;
  max-height: 380px;
  object-fit: contain !important;
}
.banner-overlay-wrapper {
  position: relative;
}
.banner-overlay-wrapper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(50deg, black,transparent);
}
.poster-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  max-width: 603px;
  line-height: 4rem;
}
.btn.btn-cta {
  padding: 12px, 22px, 12px, 22px;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 2px;
}

.btn.btn-cta:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

/* Slick Slider */
.slick-slider {
  position: relative;
}
.slick-dots {
  position: absolute;
  bottom: 2rem;
  display: block;
  width: 100%;
  text-align: center;
  color: transparent;
}

.slick-dots li {
  text-align: center;
  margin: 0px !important;
  width: 20px !important;
  height: 7px !important;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active {
  width: 40px !important;
  transition: all 0.3s ease;
}

.slick-dots li button {
  padding: 0px !important;
  background: var(--grey-color) !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 10px !important;
  opacity: 1 !important;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.slick-dots li button:before {
  display: none !important;
}

.slick-dots li.slick-active button {
  width: 35px !important;
  background: var(--white-color) !important;
  transition: all 0.3s ease;
}
