@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

@import url("slick-carousel/slick/slick.css");
@import url("slick-carousel/slick/slick-theme.css");

:root {
  --accent-color: #f1000a;
  --white-color: #ffffff;
  --grey-color: #8d8d8d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
.font-size-1_5rem {
  font-size: 1.5rem;
}
.flex-d-row {
  display: flex;
  flex-direction: row;
}
.flex-d-clm-align-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-jc-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.align-c {
  display: flex;
  align-items: center;
}
.m-l-4 {
  margin-left: 4rem;
}

.sub-heading {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
}

section{padding:80px 0px;}

.comon-heads h2{  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;margin-bottom: 40px;
  line-height: 38px;}

a{text-decoration: none;transition: all 0.3s ease;}
a:hover{text-decoration: none;transition: all 0.3s ease;color:#fff;}
ul{padding: 0px;margin: 0px;}
ul li{display: inline-block;}

