p {
  margin-bottom: 0 !important;
}
.t-head-gap {
  gap: 8rem;
}
.btn.btn-cancel {
  width: 167px;
  padding: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ee5162;
  border: 2px solid #ee5162;
  border-radius: 4px;
}
.order-details-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #212363;
}
.t-head-title {
  p {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #929292;
  }
}
.billing-details {
  h4 {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #212363;
  }
  .row {
    .col {
      h5 {
        margin-top: 1rem;
        padding-bottom: 7px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #212363;
      }
      h6 {
        padding-bottom: 6px;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        color: #212363;
      }
      p {
        padding-bottom: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
      }
      img {
        margin-bottom: 13px;
      }
    }
  }
}

.payment-details {
  h4 {
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: #212363;
    padding-bottom: 5px;
  }
  .row {
    .col > * {
      padding-top: 13px;
    }
  }
}
@media (max-width: 600px) {
  .t-head-gap {
    gap: 1rem;
  }
}
