p {
  margin-bottom: 0 !important;
}

.vr {
  color: #d0d0d0;
  margin: 5px 10px;
  padding: 0 !important;
}

.t-head-gap {
  gap: 8rem;
}

.btn.btn-cancel {
  width: 167px;
  padding: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ee5162;
  border: 2px solid #ee5162;
  border-radius: 4px;
}

.order-details-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #212363;
  @media (max-width:662px) {
    font-size: 18px;
  }
}

.t-head-title {
  p {
    margin-bottom: 10px !important;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #929292;
  }
}

.billing-details {
  h4 {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #212363;
  }

  .row {
    .col {
      h5 {
        margin-top: 1rem;
        padding-bottom: 7px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #212363;
      }

      h6 {
        padding-bottom: 6px;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        color: #212363;
      }

      p {
        padding-bottom: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
      }

      img {
        margin-bottom: 13px;
      }
    }
  }
}

.payment-details {
  h4 {
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: #212363;
    padding-bottom: 5px;
  }

  .row {
    .col>* {
      padding-top: 13px;
    }
  }
}

@media (max-width: 600px) {
  .t-head-gap {
    gap: 1rem;
  }

  .vr {
    width: 0;
  }
}

.time-line-group {
  position: relative;
  @media (min-width:600px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
  }
  &::before {
    content: '';
    background-color: #212363;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 18px;
    width: 2px;
    height: 80%;

    @media (min-width:600px) {
      top: 30px;
      left: 50%;
      transform: translate(-50%);
      height: 2px;
      width: 84%;
    }
  }

  .time-line-item {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    min-height: 50px;

    @media (min-width:600px) {
      text-align: center;
      flex-direction: column;
      min-height: 100px;
      margin-bottom: 0;
    }

    .time-line-icon {
      background-color: #212363;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-right: 20px;
       
      @media (min-width:600px) {
        margin-right: 0;
        height: 50px;
        width: 50px;
      }
    }
  }
}